@charset "UTF-8";
/* CSS Document */

@media only screen and (min-width:1200px) {

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	color: #a4b3b6;
	text-align: center;
	width: 1280px;

	background-color: #291b3d;
	background-image: url(images/background_1500x1000.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;

}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

h3 {
	width: 100%;
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 3em;
	color: #da3f87;
	margin-bottom: 10px;
}

p {
	line-height: 1.5;
}

a {
	color: #a4b3b6;
	text-decoration: none;
}

.fixed-width {
	width: 1200px;
	margin: 0 auto; /* center horizontally */
	/* border: 1px solid blue; */
}

/* header elements */
header {
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px dashed #8365a8;
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	/* width: 250px; */
	width: 30%;
	height: 80px;
	line-height: 100px;
	/* background-color: lightblue; */
}
.logo a{
	color: #da3f87;
	font-size: 50px;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: 'Big Shoulders Stencil Display', cursive;
	text-shadow: 0px 0px 10px white;
}
nav {
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:
}
nav a {
	margin: 0px 15px;
	padding: 8px 5px;
	position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
	width: 100%;
  height: 2px;
  background-color: #da3f87;
  transition: transform 300ms;
	transform: scale(0);
	transform-origin: center;
}
nav a:hover::after {
	transform: scale(1);
	transform-origin: center;
}

.highlight {
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 1.2em;
	color: white;
	background-color: #da3f87;
	padding: 8px 20px;
	border: 1px solid #da3f87;
	display: inline-block;
	transition: 0.3s;
}
.highlight:hover {
	color: white;
	border: 1px solid #ccb2f9;
	box-shadow: 0px 0px 5px #ccb2f9;

	transform: scale(1.1);
}
.search {
}
.search a {
	padding: 10px;
	transition: 0.3s;
}
.search a:hover {
	color: #da3f87;
}

/* hero elements */
.hero-wrap {
	filter: drop-shadow(10px 10px 0px rgba(0,0,0, 0.3));
}
.hero {
	width: 100%;
	height: 500px;
	background-image: url(images/arena-audience.jpg);
	background-size: cover;
	background-position: center;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.hero-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: rotate(-5deg) skew(-15deg);
}
.eef {
	font-size: 7em;
	color: #da3f87;
	font-family: 'Big Shoulders Stencil Display', cursive;
	text-shadow: 0px 0px 10px white;
}
.dates {
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 3em;
	color: white;
	text-shadow: 0px 0px 10px black;
}
.venues {
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 3.6em;
	color: white;
	text-shadow: 0px 0px 10px black;
	margin-bottom: 10px;
}

/* intro elements */
.intro {
	margin-top: -130px;
	width: 100%;
	padding: 40px 0px;
	position: relative;
}
.intro-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro-image-wrap {
	width: 40%;
	filter: drop-shadow(10px 10px 0px rgba(0,0,0,0.3));


}
.intro-image {
	clip-path: polygon(0 0, 100% 8%, 100% 86%, 0 100%);
}
.intro-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.intro-text {
	width: 60%;
	margin-left: 40px;
	text-align: left;
}

/* artists elements */
.artists {
	width: 100%;
	padding: 40px 0px;
}
.artists-content {
}
.artists h4 {
	font-size: 1.5em;
}
.alternate {
	color: #edaecb;
}

/* tickets elements */
.tickets {
	width: 100%;
	padding: 40px 0px;
}
.tickets-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ticket {
	width: 30%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 30px;
	background-color: #100d14;
	background-image: url(images/lightning-bg_400x124.jpg);
	/* Source: https://www.freepik.com/free-photos-vectors/background */
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	box-shadow: 10px 10px 0px rgba(0,0,0,0.3);
}
.ticket-heading {
	background-color: #3a2a83;
	padding: 20px;
}
.tickets-note {
	width: 100%;
	margin-top: 30px;
	font-size: 0.8em;
}
.button_buy-tickets a {
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 2em;
	color: white;
	background-color: #da3f87;
	padding: 10px 20px;
	border: 1px solid #da3f87;
	display: inline-block;
	transition: 0.3s;
}
.button_buy-tickets a:hover {
	color: white;
	border: 1px solid #ccb2f9;
	box-shadow: 0px 0px 5px #ccb2f9;

	transform: scale(1.1);
}

/* footer elements */
footer {
}
.footer-content {
}

.acknowledgement {
	width: 70%;
	margin: 0 auto;
	font-style: italic;
	padding: 40px 0px;
}

/* subscription elements */
.subscription {
	background-color: rgba(68,41,141, 0.8);
	padding: 40px;
	border-top: 1px dashed #8365a8;
	border-bottom: 1px dashed #8365a8;
}
.subscription p {
	font-size: 0.8em;
}
.subscription-form {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.subscription-form input {
	width: 400px;
	padding: 0px 20px;
}
.button_join a {
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 1.5em;
	color: white;
	background-color: #da3f87;
	padding: 10px 20px;
	border: 1px solid #da3f87;
	display: inline-block;
	transition: 0.3s;
}
.button_join a:hover {
	color: white;
	border: 1px solid #ccb2f9;
	box-shadow: 0px 0px 5px #ccb2f9;
	transform: scale(1.1);
}


.sponsors {
	padding: 40px;
}
.sponsors img {
	max-height: 50px;
	margin: 0px 20px;
}
.footer-links {
	display: flex;
	justify-content: space-between;
	padding: 40px 0px;
}
.copyright {
	font-size: 0.8em;
}
.copyright a {
	transition: 0.3s;
}
.copyright a:hover {
	color: #da3f87;
}
.social-links a {
	padding: 5px;
	margin: 5px;
	transition: 0.3s;
}
.social-links a:hover {
	color: #da3f87;
}
}/* do not delete. this is a closing bracket of media query */
